body {
	background: #e9e9e9 url('../img/tiny_grid.png') repeat 0 0;
	font: 13px/1.7em 'Open Sans';
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
}
#login_logo {
	clear: both;
	
}

#container_login {
	margin-top: 150px;
}
.widget {
	clear: both;
	width: auto;
	margin-bottom: 3em;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.widget-admin {
	float: left;
	width: 400px;
	
}	

.widget-header {
	-webkit-border-radius: 10px 10px 0 0 ;
	-moz-border-radius: 10px 10px 0 0 ;
	border-radius: 10px 10px 0 0;
	border: 1px solid #d3d3d3;
	display: inline-block;
	font-size: 16px;
	color: #555;
	
	vertical-align: middle;
	width: 678px;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
}

.widget-header-content {
	-webkit-border-radius: 10px 10px 0 0 ;
	-moz-border-radius: 10px 10px 0 0 ;
	border-radius: 10px 10px 0 0;
	border: 1px solid #d3d3d3;
	display: inline-block;
	font-size: 16px;
	color: #555;
	vertical-align: middle;
	width: 411px;
	padding-left: 20px;
	height: 40px;
	float: left;
	line-height: 40px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
}
.widget .widget-header-content:first-child {
	margin-right: 30px;
}

.widget .widget-header [class^="icon-"] {
	vertical-align: middle;
}
.widget .widget-header  h3{
	top: 2px;
	position: relative;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 600;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.admin_view_title {
	font-size: 26px;
	color: #CCC;
	padding: 20px 0 0 20px;
}
.widget-content {
	padding-top: 20px;
	padding-left: 20px;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	border-top: none;
	
}

.login {
	margin: 0 auto;
	width:700px;
	position: relative;

}

.error {
	color: red;
}	
#container_logged {
	margin-top: 30px;
	overflow: auto;
	min-height: 200px;
	

	
}
#headeruli {
	background-color: #292929;
	border-radius: 10px 10px 0 0;
	width: 100%;
	min-height: 60px;

	overflow:auto;
}
#admin_container {
border-radius: 10px 10px 0 0;
	
	overflow: auto;
	min-height: 100px;
	width: 900px;
	margin: 0 auto;
}
#subnavbarx {
	

	height: 80px;
	
	background-color: #3b3b3b;
	background-image: linear-gradient(to bottom, #414141, #323232);
	background-repeat: repeat-x;
	border-top: 1px solid #595959;
	border-bottom: 1px solid #595959;
}
#admin_content {
	padding: 20px 0px 00px 0px;	
	min-height: 200px;
	
	overflow: auto;
}
#subnavbarx .mainnav {
	display: inline-block;
	height: 80px;
	width: auto;
	padding: 0;
	margin: 0;

	border-left: 1px solid #292929;
	border-right: 1px solid #4A4A4A;
}

#subnavbarx .mainnav > li {
		float: left;
		min-width: 90px;
		height: 80px;
		padding: 0;
		margin: 0;
		text-align: center;
		list-style: none;
		border-left: 1px solid #4A4A4A;
		border-right: 1px solid #292929;
	color: #636363;
}
#subnavbarx .mainnav > li.active{
	color: #F90;
	background-color: #333;
}

#subnavbarx .mainnav > li  > a  >  i , #subnavbarx .mainnav > li  > i{
	position: relative;
	top: 2px;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 12px;
	margin-bottom: 9px;
	font-size: 28px;
	
}
#subnavbarx .mainnav > li > a > span {
	display: block;
}
#subnavbarx .mainnav > li > a {
	display: block;
	color: red;
}
#subnavbarx .mainnav > li:hover{
	text-decoration: none;
	color: #F90;
	background-color:#444;
	cursor: pointer;
}



#subnavbarx .mainnav > li > active {
	color: #F90;
}
li {
	line-height: 20px;
	display: list-item;
}
#subnavbarx .mainnav > li > a:hover{
	
	text-decoration: none;
} 
.admin-widget-content {
	background-color: #FFF;

}
.profile_error {
	color: red;
}
.one {
	width: 296px;
	background-color:#fff;
	float: left;
	padding-left: 20px;

	
}
.three {
	width: 530px;

	background-color: #000;
	float: left;
	margin-left: 30px;
}	
.widget-wrapper {
	float: left;

}

.inner {
	margin-top: 20px;
}
.inner3 {
	margin-left: 30px;
	margin-top: 20px;
}
.kysymys {
	float:left;
	width: 70px;
	padding-top: 5px;
	
}

.kentat {
	margin-left: 20px;
	margin-bottom: 15px;
	
}
.yla {
	margin-top: 20px;
}
ol {
	margin-left: 20px;
	
}
ol li {
	margin-bottom: 10px;
}
#poll_preview {
	padding-top: 20px;
}


#kysymys {
	width: 245px;
}
.oikea {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	clear:both;
}
.teema_valikko {
	margin-left: 20px;
}
.aika_input {
	width: 40px;
}
#aika_nappi {
	margin-left: 20px;
}